
<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Epic Burger Ordering</title>
        <meta charset="utf-8"/>
    </head>
    <body>
  <main>
    <h1>ULLIS' BURGERS</h1>
    <section id = "order">
    <h2>Select burgers</h2>
    <p>This is where you order the BEST burgers in town. Better than Liv's Burgers!</p>

<table>
  <thead>
    <tr>
      <th>Hallo(umi) I like your style!</th>
      <th>Where the Chick(pea)s at? </th>
      <th>Bean out lately?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src ="https://cdn.pixabay.com/photo/2014/05/27/11/31/hamburger-355342_1280.jpg" alt= "Halloumi Burger" title = "My famous halloumi burger" width= "400"></td>
      <td><img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROQc_T-KlFyJ3nh0EHab2SusfwshUMNaLW2VcrR_0uIjqDA3b0aQ&s" alt= "Greek Chickpea Burger" title = "My famous greek burger" width= "400"></td>
      <td><img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwkqwu7BYs4eO8nmUG0KDy-McHlxfA1OMIBZgrjuukfIxku8Ty&s" alt= "Bean Burger" title = "My famous bean burger" width= "400"></td>
    </tr>

    <tr>
      <td>
        <ul>
            <li>Vegetarian</li>
            <li>Most Popular at Ullis</li>
            <li>Contains: Avocado, halloumi, rocket and tomatoes </li>
            <li>Of course served with our sweet potato fries and truffle mayo</li>
            <li class="allergies">Allergies: Lacto/Ovo, Gluten</li>
        </ul>
      </td>

      <td>
        <ul>
            <li>Vegetarian</li>
            <li>Personal favorite</li>
            <li>Contains: Chickpeas, lettuce, feta cheese </li>
            <li>Served with our sweet potato fries and hummus</li>
            <li class="allergies"> Allergies: Lacto/Ovo, Gluten </li>
        </ul>
      </td>

      <td>
        <ul>
            <li>Vegetarian</li>
            <li>For the Bean lover! The vegan choice.</li>
            <li>Contains: Bean burger, rocket and tomatoes </li>
            <li>Of course served with our sweet potato fries and vegan mayo</li>
            <li class="allergies"> Allergies: Gluten</li>
        </ul>
      </td>
    </tbody>
  </table>
</section>

    <section id = "customer">
        <h2>Customer Information</h2>
        <p>Let's provide some necessary info, if you don't mind?</p>

        <p>
    <label for="fullname">Full name</label><br>
    <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name" />
</p>
<p>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
</p>
<p>
    <label for="street">Street name</label><br>
    <input type="text" id="street" name="st" required="required" placeholder="Street name" />
</p>
<p>
    <label for="street">House number</label><br>
    <input type="number" id="nr" name="nr" required="required" placeholder="House number" />
</p>

<p>
    <label for="payment">Payment option</label><br />
    <select id="payment" name="pay">
        <option>Mastercard</option>
        <option>Visa</option>
        <option>Invoice</option>
        <option selected>Swish</option>
        <option>American Express</option>
    </select>
</p>

<p>
<label for="gender">Gender</label><br/>
<input type="radio" id="female" value = "1" name="Gender" >Female</option><br/>
<input type="radio" id="male" value = "2" name="Gender">Male</option><br/>
<input checked = "checked" type="radio" value = "3" id="other" name="Gender">Other</option><br/>
</p>

<button type="submit"><img src="https://freesvg.org/img/Gerald_G_Fast_Food_Lunch_Dinner_%28FF_Menu%29_1.png" width= "50"/> Send Order!</button>


    </section>

  </main>
<footer> Contact: UllisBurgerOnline@hotmail.com <br /> 0735955470 </footer>
    </body>
</html>

<!-- this is a comment -->
