
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/menu.js"></script>
  <script src="js/js_script.js" defer></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js"></script>
  <title>Epic Burger Ordering</title>
  <meta charset="utf-8"/>
</head>
<body>
  <main>
    <section class="header">
      <img class = "headerimage" src = "https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/stockholm-map-orange-jasone-ayerbe-javier-r-recco.jpg" alt= "skyline" title= "welcome to the best burger place">
      <h1 class="headline">ULLIS' BURGERS</h1>
    </section>
    <section class= "underheader">
      <h2>SELECT BURGER</h2>
      <p> This is where you order the BEST burgers in town. Better than Liv's Burgers!</p>
    </section>

    <div class = "wrapper">
    <div id = "burger a">
      <h3>{{name1}} </h3>
      <img v-bind:src="img1" width="200">
      <ul>
        <li> {{kcal1}} </li>
        <li> {{allergy1}} </li>
      </ul>
    </div>

    <div id = "burger b">
    <h3>{{name2}} </h3>
    <img v-bind:src="img2" width="300">
    <ul>
      <li> {{kcal2}} </li>
      <li> {{allergy2}} </li>
    </ul>
    </div>

    <div id = "burger c">
      <h3>{{name3}} </h3>
      <img v-bind:src="img3" width="300">
      <ul>
        <li> {{kcal3}} </li>
        <li> {{allergy3}} </li>
      </ul>


    </div>


    </div>

<section id = "customer">
  <h2>Customer Information</h2>
  <p>Let's provide some necessary info, if you don't mind?</p>

  <p>
    <label for="fullname">Full name</label><br>
    <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name" />
  </p>
  <p>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
  </p>
  <p>
    <label for="street">Street name</label><br>
    <input type="text" id="street" name="st" required="required" placeholder="Street name" />
  </p>
  <p>
    <label for="street">House number</label><br>
    <input type="number" id="nr" name="nr" required="required" placeholder="House number" />
  </p>

  <p>
    <label for="payment">Payment option</label><br />
    <select id="payment" name="pay">
      <option>Mastercard</option>
      <option>Visa</option>
      <option>Invoice</option>
      <option selected>Swish</option>
      <option>American Express</option>
    </select>
  </p>

  <p>
    <label for="gender">Gender</label><br/>
    <input type="radio" id="female" value = "1" name="Gender" >Female</option><br/>
    <input type="radio" id="male" value = "2" name="Gender">Male</option><br/>
    <input checked = "checked" type="radio" value = "3" id="other" name="Gender">Other</option><br/>
  </p>

  <button type="submit"><img src="https://freesvg.org/img/Gerald_G_Fast_Food_Lunch_Dinner_%28FF_Menu%29_1.png" width= "50"/> Send Order!</button>


</section>

</main>
<footer> Contact: UllisBurgerOnline@hotmail.com <br /> 0735955470 </footer>
</body>
</html>

<!-- this is a comment -->
