body {
    font-family: "Futura";
    color: grey;
    font-size: 1.4em;
    line-height: 2.0;

}

.allergies{
  color: green;
  font-weight: bold;
}

#header{
  text-align: center;
  font-size: 1.4em;
  line-height: 1;

}

#order{
  background-color: black;
  color: white;
}

#customer{
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 3px black;
}

input[type]{
  cursor: pointer;
}

select{
  cursor: pointer;
}

button:hover{
  background-color: pink;
  cursor:pointer;
}
