body {
    font-family: "Futura";
    color: black;
    font-size: 1.4em;
    line-height: 2.0;
}


.wrapper{
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: 18em 18em 18em;
  background-color: #fff;

}

#burger{
  background-color: black;
  color: #cdcdcd;
  border-radius: 5px;
  padding: 20px;
  font-size: 70%;
}

#a{
  grid-column: 1;
}

#b{
  grid-column: 2;
}

#c{
  grid-column: 3;
}

.image{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.image:hover{
  filter: grayscale(100%);
}

.allergies{
  color: #8FBC8F;
  font-weight: bold;
  font-style: italic;
}

.burgername{
  text-align: center;
  font-size: 150%;
}

.header{
  position: relative;
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 1.4em;
  line-height: 1;
  border: 20px double black;
  height: 300px;
  overflow: hidden;
}

.headline{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: black;
}

.headerimage{
  opacity: 40%;
  height: auto;
  width: 100%;
  overflow-y: hidden;
  filter: grayscale(100%);
}

.headerimage:hover{
  filter: none;
}


.underheader{
  text-align: center;
  color: black;
  font-size: 130%;
  line-height: 1;

}

#order{
  background-color: black;
  line-height: 1.2;
  color: white;
  margin: 0px 2px 2px 0px;
  padding: 50px 0px 0px;
  border: 3px dotted #4e4d4f;
}

#customer{
  margin: 10px 0px 10px 0px;
  padding: 1px 200px 40px;
  border: 20px double black;
  text-align: center;
  background-color: #cdcdcd;
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 3px black;
}

input[type]:hover{
  cursor: pointer;
  background-color: pink;
}

input[placeholder]{
  text-shadow: blue;
}

select{
  cursor: pointer;
}

button:hover{
  background-color: pink;
  cursor:pointer;
}

button{
  margin: 10px 20px 10px 0px;
}

table{
  margin: 0 auto;
  width: 95%;
  height: 100%;
  align-content: center;
}
