body {
    font-family: "Futura";
    color:  rgb(2, 50, 20);
    font-size: 1.4em;
    line-height: 2.0;
    text-align: justify;

}

.allergies{
  color: green;
  font-weight: bold;
}

#order{
  background-color: black;
  color: white;
}

#customer{

}
